# Build artifacts
**/target/
**/node_modules/
**/dist/
**/binaries/

# IDE and metadata
.git/
.cursor/
.vscode/
**/.DS_Store
**/.linggen/


backend/target/
linggen-cli/target/

# Local configuration
.env
*.key